# @package eval.tofu.metrics.trajectory_forget_quality
# Trajectory-wrapped forget_quality - ks_test comparing forget truth_ratio to retain at each step

defaults:
  - ../../data/datasets@datasets: TOFU_QA_forget_para_pert
  - ../../collator@collators: DataCollatorForSupervisedDatasetwithIndex

reference_logs:
  retain_model_logs:
    path: ${eval.tofu.retain_logs_path}
    include:
      forget_truth_ratio:
        access_key: retain

handler: trajectory_metrics
batch_size: 1
metrics:
  ks_test:
    pre_compute:
      forget_truth_ratio:
        access_key: forget
        handler: truth_ratio
        aggregator: closer_to_1_better
        pre_compute:
          correct:
            handler: probability
            access_key: correct
            labels_field: labels_correct
          wrong:
            handler: probability
            access_key: wrong
            labels_field: labels_wrong

trajectory_config:
  logits_source: sampler
  return_logits: true
  return_fixation_steps: true
  sampler_kwargs:
    steps: 16
    temperature: 0.0
    max_new_tokens: 32

datasets:
  TOFU_QA_forget_para_pert:
    args:
      hf_args:
        name: ${eval.tofu.forget_split}_perturbed
        split: train
        path: locuslab/TOFU
      question_key: ${eval.tofu.question_key}
      correct_answer_key: paraphrased_answer
      wrong_answer_key: perturbed_answer
      max_length: 512
      predict_with_generate: true

collators:
  DataCollatorForSupervisedDataset:
    args:
      padding_side: left
