# @package eval.tofu.metrics.trajectory_model_utility
# Trajectory-wrapped model_utility - hm_aggregate of 9 sub-metrics at each step
# Requires multi-dataset support (retain, ra_*, wf_* datasets)

defaults:
  - .@pre_compute.retain_Q_A_Prob: retain_Q_A_Prob
  - .@pre_compute.retain_Q_A_ROUGE: retain_Q_A_ROUGE
  - .@pre_compute.retain_Truth_Ratio: retain_Truth_Ratio
  - .@pre_compute.ra_Q_A_Prob_normalised: ra_Q_A_Prob_normalised
  - .@pre_compute.ra_Q_A_ROUGE: ra_Q_A_ROUGE
  - .@pre_compute.ra_Truth_Ratio: ra_Truth_Ratio
  - .@pre_compute.wf_Q_A_Prob_normalised: wf_Q_A_Prob_normalised
  - .@pre_compute.wf_Q_A_ROUGE: wf_Q_A_ROUGE
  - .@pre_compute.wf_Truth_Ratio: wf_Truth_Ratio
  - ../../data/datasets@datasets: TOFU_QA_retain_eval
  - ../../collator@collators: DataCollatorForSupervisedDatasetwithIndex

handler: trajectory_metrics
batch_size: 1
metrics:
  - hm_aggregate

trajectory_config:
  logits_source: sampler
  return_logits: true
  return_fixation_steps: true
  sampler_kwargs:
    steps: 16
    temperature: 0.0
    max_new_tokens: 32

datasets:
  TOFU_QA_retain_eval:
    args:
      hf_args:
        name: ${eval.tofu.forget_split}
        split: train
        path: locuslab/TOFU
      question_key: ${eval.tofu.question_key}
      answer_key: answer
      max_length: 512
      predict_with_generate: true

collators:
  DataCollatorForSupervisedDataset:
    args:
      padding_side: left
