# @package eval.tofu_trajectory.metrics.trajectory_extraction_strength
# Trajectory-wrapped extraction_strength - same metric/dataset as regular, computed at each diffusion step

defaults:
  - ../../data/datasets@datasets: TOFU_QA_forget
  - ../../collator@collators: DataCollatorForSupervisedDatasetwithIndex

handler: trajectory_metrics
batch_size: 1
metrics:
  - extraction_strength
trajectory_config:
  logits_source: sampler
  return_logits: true
  return_fixation_steps: true
  sampler_kwargs:
    steps: 16
    temperature: 0.0
    max_new_tokens: 32

datasets:
  TOFU_QA_forget:
    args:
      hf_args:
        name: ${eval.tofu_trajectory.forget_split}_perturbed
        split: train
        path: locuslab/TOFU
      question_key: ${eval.tofu_trajectory.question_key}
      answer_key: answer
      max_length: 512

collators:
  DataCollatorForSupervisedDataset:
    args:
      padding_side: left
