# @package eval.tofu.metrics.trajectory_metrics
# TOFU trajectory metrics - uses TOFU dataset with trajectory_metrics handler
# Adapted from muse_metrics/trajectory_metrics.yaml for TOFU benchmark

defaults:
  - ../../data/datasets@datasets: TOFU_QA_forget
  - ../../collator@collators: DataCollatorForSupervisedDatasetwithIndex

handler: trajectory_metrics
batch_size: 1
# Plan: trajectory_metrics sub-metrics (probability, exact_memorization, rouge, truth_ratio)
metrics:
  - probability
  - exact_memorization
  - rouge
trajectory_config:
  logits_source: sampler
  return_logits: true
  return_fixation_steps: true
  sampler_kwargs:
    steps: 16
    temperature: 0.0
    max_new_tokens: 32
datasets:
  TOFU_QA_forget:
    args:
      hf_args:
        name: ${eval.tofu.forget_split}
        split: train
        path: locuslab/TOFU
      question_key: ${eval.tofu.question_key}
      answer_key: answer
      max_length: 512
      predict_with_generate: true
collators:
  DataCollatorForSupervisedDataset:
    args:
      padding_side: left
