# @package eval.tofu_trajectory.metrics.trajectory_model_utility
# Trajectory-wrapped model_utility - hm_aggregate of retain sub-metrics at each step
# Uses retain-only sub-metrics (retain_Q_A_Prob, retain_Q_A_ROUGE, retain_Truth_Ratio)
# Full 9-metric version requires multi-dataset trajectory support (ra_*, wf_* datasets)

defaults:
  - .@pre_compute.retain_Q_A_Prob: retain_Q_A_Prob
  - .@pre_compute.retain_Q_A_ROUGE: retain_Q_A_ROUGE
  - .@pre_compute.retain_Truth_Ratio: retain_Truth_Ratio
  - ../../data/datasets@datasets: TOFU_QA_retain_eval
  - ../../collator@collators: DataCollatorForSupervisedDatasetwithIndex

handler: trajectory_metrics
batch_size: 1
metrics:
  - hm_aggregate

trajectory_config:
  logits_source: sampler
  return_logits: true
  return_fixation_steps: true
  sampler_kwargs:
    steps: 16
    temperature: 0.0
    max_new_tokens: 32

datasets:
  TOFU_QA_retain_eval:
    args:
      hf_args:
        name: ${eval.tofu_trajectory.forget_split}
        split: train
        path: locuslab/TOFU
      question_key: ${eval.tofu_trajectory.question_key}
      answer_key: answer
      max_length: 512
      predict_with_generate: true

collators:
  DataCollatorForSupervisedDataset:
    args:
      padding_side: left
